@import '../css/bootstrap.min.css';
@import '../css/font-icons.css';
@import '../css/font-awesome.min.css';
@import '../css/style.css';

@import '../css/video-js.min.css';
@import '../css/videojs-resolution-switcher.css';
@import '../css/videojs-tube.min.css';